<HPB>

	<log console_level="info" file_level="debug" />

    <sources>
        <path>./hpb/sources</path>
    </sources>

    <packages>
        <search>

            <repo>
                <kind>local</kind>
                <path>./hpb/packages</path>
            </repo>

        </search>

        <upload>
            <repo>
                <kind>local</kind>
                <path>./hpb/packages</path>
            </repo>
        </upload>
    </packages>

</HPB>

