<LBP>

    <!--
     log config
     :param console_level: console output log level
     :param file_level: file output log level
    -->
	<log console_level="info" file_level="debug" />
    
    <!--
     artifacts directories
    -->
    <artifacts>
        <!--
    	 <search>/path/to/artifacts/search/directory</search>
         -->
        <search>${HOME}/.lpb/artifacts</search>
    	<search>${HOME}/.local/share/lpb/artifacts</search>

        <!--
         <upload>/path/to/artifacts/upload/directory</upload>
        -->
        <upload>${HOME}/.lpb/artifacts</upload>
    </artifacts>

</LBP>
